/** * ============================ * 5.0 Typography * ============================ */
 body{
     font-size:$primary-font-size;
     color:$primary-color;
     font-family:$font-family;
     font-weight:$font-regular;
	 line-height:$line-height;
}



h1,h2,h3,h4,h5,h6{
	 color: $dark-color;
	 font-weight:$font-bold;
	 font-family:$heading-font;
	 line-height:$line-height2;
     a{
         color:$dark-color;
    }
}
 a{
     color:$highlight-color;
     transition:all .2s;
     &:hover{
         text-decoration:none;
         color:$dark-color;
         transition:all .1s;
    }
}
h1,.heading-1 {
     font-size:$h1-font-size;
}
h2,.heading-2 {
     font-size:$h2-font-size;
}
h3,.heading-3 {
     font-size: $h3-font-size;
}
h4,.heading-4 {
     font-size:$h4-font-size;
} 
h5,.heading-5 {
     font-size:$h5-font-size;
}
h6,.heading-6 {
     font-size:$h6-font-size;
	 line-height:$line-height;
}
.large-heading{
font-size:$h1-font-size;
}
 